.autopubli {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5%;
    height: 100vh;
    position: relative;
    font-size: 1.6rem;
}
.fotomobil{
    width: 80%;
    height: 80%
}
.rombitoverde2{
    position: absolute;
    top:5%;
    left:65%;
    }
.circulitoamarillo2{
    position:absolute;
    top:35%;
    left:25%;
}
.supblue2{
    position:absolute;
    top:15%;
    right:22%;   
}
.botonesdownload{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin: 3%;
}
.botonrojoo {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    font-style: bold;
    color: white;
    margin: 1%;
    border-radius: 50px;
    font-size: 1.4rem;
    
}
.botonrojoo:hover {
    background-color: rgb(88, 8, 8);
    color: white;
}