.Boton {
    display: flex;
    justify-content: center;
}

.HeaderIphone {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.CirculoAmarillo {
    position: absolute;
    top: 10%;
    right: 11%;
}

.Rombo {
    position: absolute;
    top: 9%;
    left: 6%;
}

.CirculoAzul {
    position: absolute;
    top: 60%;
    left: 10%;
}

div.Container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }

.Iconsname {
    font-family: Courier;
    font-size: 12px;
    font-weight: bold;
}

.Titulo {
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 0px;
}

.text {
    display: flex;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: -50px;
}