.secciontestimonials{
    width: 100%;
    align-content: center;
    background-color: #f6f9fd;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
.liniareviews{
    display: flex;
    flex-direction: row;
}
.secciongupoiconinf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e9eff7;
    padding: 3%;
}
.IconNumTxt{
    width: 11%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 3%;
    justify-content: center;
    align-items: center;
}
.numeros{
    font-size: 3rem;
    text-align: center;
    margin-top: -2%;
}
.gurposponsors{
    width: 94%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}
.icontitle{
    margin-top: -25%;
}
